<header>
    <navbar>
        <a href="/pawbook/">
            <h1>pawbook</h1>
        </a>
        <a href="/pawbook/marketplace/">MARKETPLACE</a>
        <a href="/pawbook/posts/">POSTS</a>
        <a href="/pawbook/pet-o-pedia/">PET-O-PEDIA</a>

        {% if user.is_authenticated %}
            <a href="{% url 'pawbook:show_profile' user.userprofile.slug %}"><img src="{{ user.userprofile.profilePicture.url }}" alt="User's Profile Picture" class="profile_image">{{ user.username }}</a>
            <a href="{% url 'pawbook:my_posts' user.userprofile.slug %}">MY POSTS</a>
            <a href="{% url 'pawbook:logout' %}">LOGOUT</a>

        {% else %}
            <a href="/pawbook/login/">LOGIN</a>
            <a href="/pawbook/register/">REGISTER</a>
        {% endif %}
        <form method = "GET" action = ''>
            <input type = 'text' name = 'query' placeholder = 'SEARCH'/>
        </form>
    </navbar>
</header>

<script>
    var prevScrollpos = window.pageYOffset;
    var $header = $("header");
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos || currentScrollPos < 50) {
            $header.css("top", "0");
        } else {
            $header.css("top", "-70px");
        }
        prevScrollpos = currentScrollPos;
    }
</script>