<header>
    <navbar>
        <a href="/pawbook/">
            <h1>pawbook</h1>
        </a>
        <a href="{% url 'pawbook:marketplace' %}">MARKETPLACE</a>
        <a href="{% url 'pawbook:posts' %}">POSTS</a>
        <a href="{% url 'pawbook:pet-o-pedia' %}">PET-O-PEDIA</a>

        {% if user.is_authenticated %}
            <a href="{% url 'pawbook:show_profile' user.userprofile.slug %}"><img src="{{ user.userprofile.profilePicture.url }}" alt="User's Profile Picture" class="profile_image">{{ user.username }}</a>
            <a href="{% url 'pawbook:my_posts' user.userprofile.slug %}">MY POSTS</a>
            <a href="{% url 'pawbook:logout' %}">LOGOUT</a>

        {% else %}
            <a href="{% url 'pawbook:login' %}">LOGIN</a>
            <a href="{% url 'pawbook:register' %}">REGISTER</a>
        {% endif %}
        <form method = "GET" action = ''>
            <input type = 'text' name = 'query' placeholder = 'SEARCH'/>
        </form>
    </navbar>
</header>

<script>
    // Hide header when scrolling down, unhide when scrolling up
    var prevScrollpos = window.pageYOffset;
    var $header = $("header");
    window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        // detect scroll down and ignore when page is at the top
        if (prevScrollpos > currentScrollPos || currentScrollPos < 50) {
            $header.css("top", "0");
        } else {
            $header.css("top", "-73px");
        }
        prevScrollpos = currentScrollPos;
    }
</script>