<h3>MARKET SEARCH</h3>
<div class="back-wrap">
    <form method ='GET' action="">
        <!--<input type="number" name="quantity" min="1" max="10000">-->
        <!--<input type="number" name="quantity" min="1" max="10000">-->
        <!--<input type="text" placeholder="SEARCH">-->
        <input id="top" type = 'text' name="query" placeholder ='SEARCH POSTS' value ='{{request.GET.query}}'/>
        <input type ='submit' value = 'GO' />
    </form>
</div>
<br>
{% if object_list.paginator.num_pages > 1 %}
<h3>PAGE</h3>
<div class = "pagination">
    <div class="back-wrap">
        <span class = "step-links">
            <p>
            {% if object_list.has_previous %}
                <a href="?page={{object_list.previous_page_number}}{% if request.GET.query %}
                 &query ={{request.GET.query}}{% endif %}">previous</a>
            {% endif %}
            <span class = "current">
                <b>{{object_list.number }} of {{object_list.paginator.num_pages}}</b>
            </span>
            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}{% if request.GET.query %}
                 &query ={{request.GET.query}}{% endif %}">next</a>
            {% endif %}
            </p>
        </span>
    </div>
</div>
{% endif %}
{% if user.is_authenticated %}
    <br>
    {% if request.path == "/pawbook/posts/" %}
    <h3>ADD POST</h3>
    <div class="back-wrap">
        <form id="post_form" method="post" action="{% url 'pawbook:addPost' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% for phidden in postForm.hidden_fields %}
                {{ phidden }}
            {% endfor %}

            {% for pfield in postForm.visible_fields %}
                {{ pfield.errors }}
                <p>{{ pfield.help_text }}</p>
                {{ pfield }}
            {% endfor %}
            <input type="submit" name="submitForm" value="POST" />
        </form>
    </div>
    {% elif request.path == "/pawbook/marketplace/" %}
    <h3>ADD LISTING</h3>
    <div class="back-wrap">
        <form id="listing_form" method="post" action="{% url 'pawbook:addListing' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% for lhidden in listingForm.hidden_fields %}
                {{ lhidden }}
            {% endfor %}

            {% for lfield in listingForm.visible_fields %}
                {{ lfield.errors }}
                <p>{{ lfield.help_text }}</p>
                {{ lfield }}
            {% endfor %}
            <input type="submit" name="submitListing" value="POST" />
        </form>
    </div>
    {% endif %}
{% endif %}
