{% if user.is_authenticated %}
	{% if user.userprofile != listing.poster %}
	<h3>REQUEST</h3>
	<div class="back-wrap">
		<p>Request to purchase animal from seller.</p>
		<form id = "request_button" method = "POST" action = "{% url 'pawbook:show_listing' listing.slug %}" enctype = "multipart/form-data">
			{% csrf_token %}
			<input name = "request" type = "submit" class ="btn btn-primary" value = "REQUEST"  id="submit" />
		</form>
	</div>
	{% elif user.userprofile == listing.poster %}
	<h3>CONFIRM SALE</h3>
	<div class="back-wrap">
		<p>Close the listing if sale complete.</p>
		<form id = "confirm_sale" method = "POST" action = "{% url 'pawbook:show_listing' listing.slug%}" enctype = "multipart/form-data">
			{% csrf_token %}
			<input name = "sale" type = "submit" class ="btn btn-primary" value = "CONFIRM SALE"  id="submit" />
		</form>
		<p>{{ result }}</p>
	</div>
	{% endif %}
{% endif %}
