:root {
    --color-background: rgb(255, 217, 138);
	--color2-background: rgb(247, 201, 104);
    --color-main-accent: rgba(255, 178, 18, 1);
    --color-main-contrast: rgba(255, 94, 34, 1);
    --color-main-postelement: hsl(51, 100%, 73%);
    --font-headline: 'Roboto';
    --font-textblock: 'Montserrat';
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    background-image: linear-gradient(var(--color-background), var(--color2-background));
    height:100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headline);
	cursor: default;
	margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
	font-weight: normal;
}

h4 {
    font-size: 12px;
	font-weight: lighter;
	padding-bottom: 5px;
}

p {
    font-family: var(--font-textblock);
    font-size: 0.9em;
	margin: 0;
	cursor: default;
}

ul {
    margin: 0px;
}

img {
    padding: 5px;
}


input {
    padding: 7px;
    font-size: 15px;
    min-width: 215px;
    border: 1px solid black;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
	margin-top: 10px;
	
}

a {
    font-family: 'Montserrat';
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

header,
footer {
    background-color: var(--color-main-accent);
    width: 100%;
    justify-content: center;
    left: 0;
	box-shadow: 0px 0px 10px rgb(200, 200, 200, .5);
}

header {
    top: 0;
    height: 70px;
    transition: .3s;
	position: fixed;
	z-index: 1;
}

footer {
	position: fixed;
    bottom: 0px;
    height: 3em;
    display: flex;
}

navbar > a,
footer > a {
    padding: 10px 20px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    display: flex;

    flex-flow: row;
    align-items: center;
}

navbar > a:hover,
footer > a:hover {
    color: white;
    background-color: var(--color-main-contrast);
    border-bottom-color: white;
}

navbar {
    display: flex;
    margin: 0 50px;
    height: 100%;
    padding: 0;
	position: relative;
	
}

navbar img.profile_image {
    padding: 0;
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
    box-sizing: border-box;
    border-radius: 50%;

}



navbar > *:nth-child(1) {
    margin-right: 50px;

}

navbar > *:nth-child(5) {
    margin-left: auto;
}


navbar > *:nth-last-child(1) {
    margin: 0;
    margin-left: 20px;
    align-self: center;
}

navbar input {
    padding: 7px;
    margin: auto;

}

main.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 70px 10px;
}

.col-2 {
    display: grid;
    grid-gap: 15px;
    grid-template-columns:  minmax(200px, 1fr) 5fr minmax(200px, auto);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "t t t"
        "c c s"
}

.col-3 {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: minmax(200px, 1fr) 5fr minmax(200px, auto);
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "t t t"
        "l c s"
}

.sidebar-r {
    grid-area: s;
}

#top {
	margin-top: 0px;
}

.main-area {
    grid-area: c;
}

.top-area {
    grid-area: t;
}

.sidebar-l {
    grid-area: l;
}

.wrapper > * {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
	box-shadow: 0px 0px 10px rgb(200, 200, 200, .5);
}

.pets_new {
    grid-area: t;
}

.back-wrap {
	background-color: var(--color-main-accent);
	padding: 10px 10px 10px 10px;
	margin-top: 5px;
	text-align: left;
	box-shadow: 0px 0px 10px rgb(200, 200, 200, .5);
}