html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
	font-family: 'Roboto';
}

h2 {
	margin: 5px;
	font-family: 'Roboto';
	font-size: 30px;
}

h3 {
	margin: 0;
	font-family: 'Roboto';
	font-size: 20px;
}

h4 {
	margin: 5px 0px 5px 0px;
	font-family: 'Roboto';
	font-size: 12px;
}

p {
	font-family: 'Montserrat';
	font-size: 12px;
	margin: 5px 0px 5px 0px;
}

ul {
	margin: 0px;
}

img {
	border: 2px solid black;
}

.top_bar {
	background-color: grey;
	height: 100px;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
}

input {
	padding: 6px;
	font-size: 15px;
	width: 215px;
	border: 1px solid black;
}

form {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

form input {
	margin-top: 10px;
}

ul {
	font-size: 12px;
}

a {
	font-family: 'Montserrat';
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
}

.top_bar a {
	font-size: 15px;
}

.top_bar_content {
	display: flex;
	flex-grow: 1;
	align-items: center;
	max-width: 1500px;
	flex-direction: row;
}


.top_bar h1:hover {
	color: black;
}

.element {
	margin: 5px;
}

.spacer {
	flex-grow: 1;
}

.content_body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	margin-top: 100px;
}

.content_holder {
	display: flex;
	flex-direction: column;
	max-width: 1500px;
	width: 1000%;
	margin: 5px;
}

.footer_bar { 
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: grey;
	height: 100px;
	width: 100%;
	bottom: 0px;
}

.profile_image img {
	clip: rect(0px,100px,100px,0px);
	border: 1px solid black;
	height: 50px;
	object-fit: cover;
	border-radius:50%;
}
