.pets_new {

	display: flex;
	flex-grow: 1;
    max-height: 100px;
    margin: 5px;
	align-items: center;
	justify-content: space-between;
}


.pet_box {
	position: relative;
	height: 100px;
	width: 100px;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgb(200, 200, 200, .5);
}

.pet_box_overlay {
	position: absolute;
	z-index:0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	width: 100px;
	opacity: 0;
	transition: .5s ease;
	background-image: radial-gradient(circle at center, rgb(250, 250, 250, .6) 0, rgb(250, 250, 250, .2));

}

.pet_box:hover .pet_box_overlay{
	opacity: 1;
}

.pet_box img {
	padding: 0px;
	border: 0px;
	height: 100px;
	min-width: 100px;
	
}

.pet_box:hover img {
	filter: blur(2px);
}

.pet_box_text {
	color: rgb(50, 50, 50);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.pet_box_text  p {
	margin: 0px;
	font-size: 14px;
	cursor: inherit;
}

.pet_box_text  h3 {
	cursor: inherit;
}

.side_bar {
	width: 230px;
	margin: 5px;
	padding: 10px;
}

.posts_column {
    
    display: flex;
    flex-direction: column;
	flex-grow: 1;
	min-width:300px;
}

.post {
	display: flex;
	flex-direction: row;

    background-color: var(--color-main-postelement);
    border-radius: 6px 6px 40px 6px;

	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	box-shadow: 0px 0px 10px rgb(200, 200, 200, .5);
}

.post img {
	max-height: 200px;
	max-width: 300px;
	margin: 5px;
}

.post_content {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5px;
}

.sub_holder {
	display: flex;
	flex-direction: row;
	max-width: 1500px;
	width: 100%;
}

.likes {
	margin-top: auto;
}

#column {
	flex-direction: column;
}
