{% extends 'pawbook/bases/base.html' %}
{% load staticfiles %}
{% load pawbook_template_tags %}

{% block main_block %}
    <main class="wrapper col-3">
        <div class="sidebar-l">
            {% get_pet_info_links %}
        </div>

        {% block topbar_block %}
        {% endblock %}

        <div class="main-area">
            {% block body_block %}
            {% endblock %}
        </div>

        <div class="market_column sidebar-r">
            {% include 'pawbook/modules/MarketNavigationPanel.html' %}
        </div>
    </main>
{% endblock %}