<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>
		Pawbook - 
		{% block title_block %}
			Welcome!
		{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400,500,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/base.css' %}" />
		{% block css_block %}
		{% endblock %}
	</head>
	
	<body>	
		<div class="top_bar">
			<div class="top_bar_content">
				<div href="/pawbook/" class="element">
					<a href="/pawbook/"><h1>pawbook</h1></a>
				</div>
				
				<div class="element">
					<a href="/pawbook/marketplace/">MARKETPLACE</a>
				</div>
				
				<div class="element">
					<a href="/pawbook/posts/">POSTS</a>
				</div>
				
				<div class="element">
					<a href="/pawbook/pet-o-pedia/">PET-O-PEDIA</a>
				</div>
				
				<div class="spacer">
				
				</div>
				
				<div class="element">
					<a href="/pawbook/login/">LOGIN</a>
				</div>
				
				<div class="element">
					<a href="/pawbook/register/">REGISTER</a>
				</div>
				
				<div class="element">
					<input type="text" placeholder="SEARCH">
				</div>
			</div>			
		</div>
		
		<div class="content_body">
			<div class="content_holder">
				{% block body_block %}
				{% endblock %}
			</div>
			
		</div>
		
		<div class="footer_bar">
			<div class="element"> 
				<a href="/pawbook/contact/">CONTACT</a>
			</div>
			
			<div class="element"> 
				<a href="/pawbook/faq/">FAQ</a>
			</div>
			
			<div class="element"> 
				<a href="/pawbook/about/">ABOUT</a>
			</div>
		</div>
	</body>
</html>
