{% extends 'pawbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="pets_new">
		{% if pets_new %}
			{% for pet in pets_new %}
				<div class="pet_box"> 
					{{ pet.url }}
				</div>
			{% endfor %}
		{% else %}
			<strong>There are no new pets!</strong>
		{% endif %}
	</div>

	<div class="sub_holder">
		<div class="pet_info_column">
			<h3>PET INFO</h3>
			<p>A list of quick links to find out keeping information for the following pets:</p>
			<ul>
				<li><a>Dogs</a></li>
				<li><a>Cats</a></li>
				<li><a>Lizards</a></li>
				<li><a>Hamsters</a></li>
				<li><a>Rabbits</a></li>
				<li><a>Ferrets</a></li>
			</ul>
		</div>
		
		<div class="posts_column">
			<h3>TRENDING POSTS</h3>
		</div>
		
		<div class="market_column">
			<h3>MARKET SEARCH</h3>
			<form>
				<input type="number" name="quantity" min="1" max="10000">
				<input type="number" name="quantity" min="1" max="10000">
				<input type="text" placeholder="SEARCH">
			</form>
		</div>
	</div>

	<div class="spacer">

	</div>
{% endblock %}
