{% extends 'pawbook/bases/baseNoPetOrMarket.html' %}
{% load staticfiles %}

{% block title_block %}
	FAQ
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <h2 class=" text-white" >Frequently Asked Questions</h2>
            <hr></br>

            <div class="panel-group" >
                <div class="panel panel-default">

                    <div class="panel-heading"  >
                        <h3 class="panel-title">
                                What is Pawbook and how does it work?
                                <span> </span>
                            </a>
                        </h3>
                    </div>
                        <div class="panel-body">
                            <p>Pawbook website provides a totally free to use advertising platform for private individuals
                                responsible breeders and rescue centers can list their adverts on.Potential buyers or adopters
                                of pets can use the website to make initial contact with the advertisers. Our website also aims to
                                educate and give the necessary advice for potential pet oweners.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                        <h3 class="panel-title">
                                How to deal safely on Pawbook
                                <span> </span>
                            </a>
                        </h3>
                    </div>
                        <div class="panel-body">
                            <p>1. Find out more about the Seller</p>
                              <p>  2. Always deal within Pawbook</p>
                               <p> 3. Be prompt</p>
                               <p> 4. Have decent common sense</p>
                               <p> 5. Deal at places you are comfortable with
                                   </p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"  >
                        <h3 class="panel-title">
                                How do I make purchases on Pawbook?
                                <span> </span>
                            </a>
                        </h3>
                    </div>
                    <div  class="panel-collapse collapse" >
                        <div class="panel-body">
                            <p>To buy an item, simply select the listing you are interested in and engage the buyer.
                                In your conversation with the buyer, you can start to ask the buyer questions and
                                request for more photos to deal with confidence</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                                How do I sell on Pawbook?
                                <span> </span>
                            </a>
                        </h3>
                    </div>
                    <div  class="panel-collapse collapse" >
                        <div class="panel-body">
                            <p>It's easy. All you have to do is to make a post, update the necessary fields and a photo
                            of the pet you wish to list on sale for and you are done.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
