{% extends 'pawbook/baseNoPetInfo.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class = "content_holder">

		<h3 class="element">NEW PETS</h3>
		<div class="pets_new">
			{% if latestListings %}
				{% for pet in latestListings %}
					<div class="pet_box">
						<a><img src="{{ pet.petImage }}" alt="{{ pet.petName }}" style="width:100px;height:100px;" /></a>
						<div class="pet_box_overlay">
							<div class="pet_box_text"><h3>{{ pet.cost }}</h3></div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>

		<div class="posts_column">
			<h3>TRENDING</h3>

			{%  if trendingPosts %}
				{% for post in trendingPosts %}
					<div class="post">
						<img src="{{ post.postImage }}" alt="Post Image" style="width:250px;height:250px;" />

						<div class="post_content">
							<h2>{{ post.postTitle }}</h2>
							<h4>By {{ post.poster.user.username }} on {{ post.datePosted }}</h4>
							<p>{{ post.postDescription  }}</p>
							<p>Likes: {{ post.likes }}, Dislikes: {{ post.dislikes }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}

		</div>

	</div>

	<div class="spacer"></div>



{% endblock %}
