{% extends 'pawbook/bases/base.html' %}
{% load staticfiles %}

{% block title_block %}

    {% if listing %}
        {{ listing.petName }}
    {% else %}
	    Home
    {% endif %}

{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
    <div class="content_holder">

		<div class="pet_info_column">
            {% if listing %}
				<h3>{{ listing.petName }} - {{ listing.age }} Years Old - £{{ listing.cost }}</h3>
			    <div class="post" id="column">
					<img src="/pawbook{{ listing.petImage.url }}" alt="Post Image" style="width:100%;"/>

					<div class="post_content">
						<h4>{{ listing.breed }} uploaded by <a href="{% url 'pawbook:show_profile' listing.poster.user.username %}">{{ listing.poster.user.username }}</a> on {{ listing.datePosted }}</h4>
						<p>{{ listing.description }}</p>
					</div>
				</div>
            {% endif %}
		</div>

    </div>
{% endblock %}