{% extends 'pawbook/bases/baseNoPetOrMarket.html' %}
{% load staticfiles %}

{% block title_block %}
	Login
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<h2>LOGIN</h2>
	<div class="content_holder">
		<form id="login_form" method="post" action="{% url 'pawbook:login' %}">
			{% csrf_token %}
			<input type="text" name="username" placeholder="USERNAME" value="" size = 50 />
			<input type="password" name="password" placeholder="PASSWORD" value="" size = 50 />
			<input type="submit" id="submit" value="LOGIN" />
		</form>
		<p class="error">{{ error }}</p>
	</div>
{% endblock %}