{% extends 'pawbook/bases/baseNoPetOrMarket.html' %}
{% load static %}

{% block title_block %}
	Login
{% endblock %}

{% block css_block %}
	
{% endblock %}

{% block body_block %}
	<h2>LOGIN</h2>
	<div class="content_holder">
		<form id="login_form" method="post" action="{% url 'pawbook:login' %}">
			{% csrf_token %}
			Username: <input type="text" name="username" value="" size = 50 />
			Password: <input type="password" name="password" value="" size = 50 />
			<input type="submit" value="Login" />
		</form>
	</div>
{% endblock %}