{% extends 'pawbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Marketplace
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="sub_holder">

		<div class = "content_holder">
			<div class="posts_column">
			<h3>LISTINGS</h3>
			{%  if newest_listings %}
				{% for listing in newest_listings %}
					<div class="post">
						<img src="{{ listing.petImage }}" alt="Listing Image" style="width:200px;height:200px;" />

						<div class="post_content">
							<h2>{{ listing.petName }} - {{ listing.breed }} - {{ listing.petAge }} years old - {{ listing.cost }}</h2>
							<h4>By {{ listing.poster.user.username }} on {{ listing.datePosted }}</h4>
							<p>{{ listing.description  }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
		</div>

	</div>
{% endblock %}
