{% extends 'pawbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Marketplace
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="sub_holder">

		<div class="pets_info_column">
			<h3>LISTINGS</h3>
			{% if newest_listings %}
			<ul>
				{% for listing in newest_listings %}
				<li><a href='{% url "pawbook:show_listing" listing.slug %}'>{{ listing.petName }}</a></li>
				{% endfor %}
			</ul>

			{% else %}
				<strong>There are no new pets!</strong>
			{% endif %}
		</div>

		<div class="posts_column">
			<h3>TRENDING POSTS</h3>
		</div>
	</div>

	<div class="spacer"></div>

{% endblock %}
