{% extends 'pawbook/bases/baseBothSidebars.html' %}
{% load staticfiles %}

{% block title_block %}
	Marketplace
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class = "content_holder">
		<div class="posts_column">
		<h3>LISTINGS</h3>
		{%  if newest_listings %}
			{% for listing in object_list %}
				<div class="post">
					<img src="{{ listing.petImage.url }}" alt="Listing Image" />

					<div class="post_content">
						<h3><a href="{% url 'pawbook:show_listing' listing.slug %}"> {{ listing.petName }} - {{ listing.petAge }} years old - £{{ listing.cost }} </a> </h3>
						<h4>By <a href="{% url 'pawbook:show_profile' listing.poster.slug %}">{{ listing.poster.user.username }}</a> on {{ listing.datePosted }}</h4>
						<p>{{ listing.description  }}</p>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}
