{% extends 'pawbook/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Pet-O-Pedia
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="sub_holder">
		<div class = "pets_info_column">
			<h3>PET-O-PEDIA</h3>
			{% if allPosts %}
				<ul>
				{% for post in allPosts %}
					<li><a href='{% url "pawbook:show_petPedia" post.slug %}'>{{ post.breed }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				<strong>There are no new pets!</strong>
			{% endif %}
		</div>

		<div class="posts_column">
			<h3>TRENDING POSTS</h3>
		</div>

	</div>

	<div class="spacer"></div>
{% endblock %}
