{% extends 'pawbook/bases/baseBothSidebars.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if page %}
		{{ page.breed }}
	{% else %}
		Home
	{% endif %}
{% endblock %}


{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
    <div class="content_holder">
		<div class="pet_info_column">
            {% if page %}
			    <h3>{{ page.breed }} - {{ page.species }}</h3>
				<div class="post" id="column">
					<img src="{{ page.picture.url }}" alt="Post Image" class="image-expanded"/>

					<div class="post_content">
						<h4>General Information:</h4>
						<p>{{ page.info }}</p>
					</div>
				</div>
            {% endif %}
		</div>
    </div>
{% endblock %}