{% extends 'pawbook/bases/base.html' %}
{% load staticfiles %}

{% block title_block %}

	{% if page %}
		{{ page.breed }}
	{% else %}
		Home
	{% endif %}

{% endblock %}


{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block body_block %}
    <div class="sub_holder">
		<div class="pet_info_column">
            {% if page %}
			    <h3>{{ page.breed }} - {{ page.species }}</h3>
                <h4>General Information:</h4>
				<p>{{ page.info }}</p>
            {% endif %}
		</div>
    </div>

{% endblock %}