{% extends 'pawbook/bases/baseBothSidebars.html' %}
{% load staticfiles %}

{% block title_block %}
	Posts
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block topbar_block %}
	<div class="topbar">
		<h3>TRENDING POSTS</h3>
		<div class="pets_new">
			{% if trending %}
				{% for post in trending %}
					<div class="pet_box">
						<img src="{{ post.postImage.url }}" alt="{{ post.title }}"/>
						<a href="{% url 'pawbook:show_post' post.slug %}">
							<div class="pet_box_overlay">
								<div class="pet_box_text">
									<p>{{ post.postTitle }}</p><h4>Likes:{{ post.likes.count }}</h4	>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block body_block %}
	<div class = "content_holder">
		<h3>POSTS</h3>
		<div class="posts_column">
		{%  if newest_posts %}
			{% for post in object_list %}
				<div class="post">
					<img src="{{ post.postImage.url }}" alt="Post Image"/>
					<div class="post_content">
						<h3><a href="{% url 'pawbook:show_post' post.slug %}"> {{ post.postTitle }} </a> </h3>
						<h4>By <a href="{% url 'pawbook:show_profile' post.poster.slug %}">{{ post.poster.user.username }}</a> on {{ post.datePosted }}</h4>
						<p>{{ post.postDescription  }}</p>
						<div class="likes">
							<p>Likes: {{ post.likes.count }}, Dislikes: {{ post.dislikes.count }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}