{% extends 'pawbook/bases/base.html' %}
{% load staticfiles %}

{% block title_block %}

	{% if post %}
        {{ post.title }}
    {% else %}
        Home
    {% endif %}

{% endblock %}


{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block body_block %}
    <div class="content_holder">
		<div class="pet_info_column">
            {% if post %}
			<h3> {{ post.postTitle }} </h3>
			    <div class="post" id="column">
					<img src="/pawbook{{ post.postImage.url }}" alt="Post Image" style="width:100%;"/>

					<div class="post_content">
						<h4>By <a href="{% url 'pawbook:show_profile' post.poster.user.username %}">{{ post.poster.user.username }}</a> on {{ post.datePosted }}</h4>
						<p>{{ post.postDescription  }}</p>
						<br>
						<div><p>Likes: {{ post.likes }}, Dislikes: {{ post.dislikes }}</p></div>
					</div>
				</div>
            {% endif %}
			<br>
            <hr>
			<br>	
				
            <form method="POST">
                {% csrf_token %}
                {{comment_form.as_p}}
                {% if user.is_authenticated %}
                <imput type = "submit" value = "Submit"> </imput>
                <button class ="btn btn-outline-success"> Submit</button>
                {% else %}
                <imput type = "submit" value = "Submit" ></imput>
                <button class ="btn btn-outline-success" disabled> Submit</button>
                {% endif %}
            </form>

            <br><br>





    <div class="main_comment_section">
            <h3>{{ comments.count}} Comment{{comments|pluralize}}</h3>
            {% for comment in comments %}
			<div class="post">
            <blockquote class ="blockquote">
				<h2>{{ comment.user |capfirst}}</h2>
                <p class="mb-0"> {{comment.content}}</p>
                <footer class="blockquote-footer">by  <cite title="Source Title">{{ comment.user |capfirst}}</cite></footer>
            </blockquote>
			</div>
            {% endfor %}
        </div>
		</div>

    </div>






{% endblock %}