{% extends 'pawbook/bases/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Posts
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
	<div class="sub_holder">

		<div class = "content_holder">
			<div class="posts_column">
			<h3>POSTS</h3>

			{%  if newest_posts %}
				{% for post in object_list %}
					<div class="post">
						<img src="{{ post.postImage }}" alt="Post Image" style="width:200px;height:200px;" />

						<div class="post_content">
							<h2><a href="{% url 'pawbook:show_post' post.slug %}"> {{ post.postTitle }} </a> </h2>
							<h4>By {{ post.poster.user.username }} on {{ post.datePosted }}</h4>
							<p>{{ post.postDescription  }}</p>
							<p>Likes: {{ post.likes }}, Dislikes: {{ post.dislikes }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
		</div>

		<div class = "content_holder">
			<div class="posts_column">
			<h3>TRENDING</h3>

			{%  if trending %}
				{% for post in trending %}
					<div class="post">
						<img src="{{ post.postImage }}" alt="Post Image" style="width:200px;height:200px;" />

						<div class="post_content">
							<h2><a href="{% url 'pawbook:show_post' post.slug %}"> {{ post.postTitle }} </a> </h2>
							<h4>By {{ post.poster.user.username }} on {{ post.datePosted }}</h4>
							<p>{{ post.postDescription  }}</p>
							<p>Likes: {{ post.likes }}, Dislikes: {{ post.dislikes }}</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
		</div>

	</div>

	<div class="spacer"></div>

{% endblock %}
