{% extends 'pawbook/baseNoPetInfo.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block css_block %}
{% endblock %}

{% block body_block %}
	<h2>register</h2>
	<div class="sub_holder">
		<form>
			<input type="text" placeholder="USERNAME">
			<input type="password" placeholder="PASSWORD">
			<input type="password" placeholder="PASSWORD REPEAT">
			<input type="email" placeholder="EMAIL">
			<input type="submit" value="SUBMIT">
		</form>
	</div>

	<div class="spacer">

	</div>
{% endblock %}
