{% extends 'pawbook/bases/baseNoPetOrMarket.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block css_block %}
{% endblock %}

{% block body_block %}
	<h2>REGISTER</h2>
	{% if registered %}
		Thank you for registering with Pawbook

	{% else %}
	<div class="content_holder">
		<form id="user_form" method="post" action="{% url 'pawbook:register' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ userForm.as_p }}
			<h3>Optional:</h3>
			{{ profileForm.as_p }}
			<input type="submit" name="submit" value="Register" />
		</form>
	</div>
	{% endif %}
{% endblock %}