{% extends 'pawbook/bases/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Requests
{% endblock %}

{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_block %}
<div class="sub_holder">

	<div class="posts_column">
		<h2>Active Requests</h2>

		{% for l in listings %}
			<h3>Request for: {{ l.pet.petName }}</h3>

			{% for r in l.requests.all %}
				<div class="post">
					<img src="{{ r.userprofile.profilePicture.url }}" alt="Profile Picture" />
					<div class="post_content">
    					<p>
							Name: {{ r.userprofile.firstName }} {{ r.userprofile.lastName }} <br />
							Location: {{ r.userprofile.location }} <br />
						</p>
					</div>

	        		<button>Accept</button>
					<button>Decline</button>
				</div>
			{% endfor %}

		{% endfor %}
	</div>

</div>
{% endblock %}

