{% extends 'pawbook/bases/baseNoPetOrMarket.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ userProfile.user.username }}
{% endblock %}


{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block body_block %}
	<div class = "content_holder">
		<div class="posts_column">
			<h2>{{ userProfile.user.username }}</h2>

			<div class="post">
				<img src="{{ userProfile.profilePicture }}" alt="Profile Picture" />
				<div class="post_content">
					Name: {{ userProfile.firstName }} {{ userProfile.lastName }} <br />
					Location: {{ userProfile.location }} <br />
					Age: {{ userProfile.age }} <br />
					Pets sold: {{ userProfile.sellCount }} <br />
					Bio: {{ userProfile.bio }} <br />
					<br />
				</div>
				{% if user %}
					<a href="{% url 'pawbook:editProfile' userProfile.user.username %}">EDIT PROFILE</a>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}