{% extends 'pawbook/bases/baseNoPetOrMarket.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }}
{% endblock %}


{% block css_block %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}


{% block body_block %}
	<div class = "content_holder">
		<div class="posts_column">
			<h2>{{ user.username }}</h2>

			<div class="post">
				<img src="{{ userProfile.profilePicture }}" alt="Profile Picture" />
				<div class="post_content">
					Name: {{ userProfile.firstName }} {{ userProfile.lastName }} <br />
					Location: {{ userProfile.location }} <br />
					Age: {{ userProfile.age }} <br />
					Pets sold: {{ userProfile.sellCount }} <br />
					Bio: {{ userProfile.bio }} <br />
				</div>

			</div>
			<a href="/pawbook/editProfile/">Edit Profile</a>
		</div>
	</div>

{% endblock %}